@font-face {
  font-family: "Rozanova HUM";
  font-display: swap;
  src: url("../fonts/rozanova-hum-demo-semi-bold.woff2") format("woff2"), url("../fonts/rozanova-hum-demo-semi-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rozanova HUM";
  font-display: swap;
  src: url("../fonts/RozanovaHUM-Regular.woff2") format("woff2"), url("../fonts/RozanovaHUM-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
